green = #0F0
black = #121212

body {
  background black
  color white
  
  font-size 21pt
  font-family 'Overlock', sans-serif
  
  margin 0
  padding 0
}

.c {
  margin 2rem auto

  width 90%
  max-width 1400px
}

pre, code {
  color green
  text-shadow 0 0 16px rgba(green, 0.8)

  font-family 'Space Mono', monospace
}